DEBUG=True
SECRET_KEY=your-secret-key
ALLOWED_HOSTS=host1,host2
CORS_ALLOWED_ORIGINS=https://host1.com,https://host2.net

# Database env
DB_NAME=database-name
DB_USER=database-user
DB_PASSWORD=database-password
DB_PORT=database-port
DB_HOST=database-host